@font-face{
	font-family: font1;
	src: url("15348.otf");
}
@font-face{
	font-family: font2;
	src: url("15348.otf");
}
@font-face{
	font-family: font3;
	src: url("17642.ttf");
}
body{
	margin: 0;
	font-size: 0;
	background-color: #000;
}
#header{
	font-family: font2;
	top: 0;
	position: sticky;
	height: 50px;
	width: 100%;
	background-color: rgba(17, 17, 17, 0.9);
	z-index: 1000;
}
#header .left-menu-btn{
	font-family: font2;
	vertical-align: middle;
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
#header .left-menu-btn .circle{
	font-family: font2;
	width: 50px;
	height: 50px;
	background-color: #00fff7;
	clip-path: circle(25% at 50% 50%);
	transition-duration: 200ms;
	transition-property: clip-path;
}
#header .left-menu-btn:hover .circle{
	clip-path: circle(40% at 50% 50%);
}
.left-menu{
	font-family: font2;
	position: absolute;
	height: 1000px;
	width: 200px;
	padding: 10px;
	right: 100%;
	top: 100%;
	background-color: rgba(34, 34, 34, 0.9);
	transition-duration: 200ms;
	transition-property: transform;
	z-index: 1000;
}
.left-menu:hover{
	transform: translateX(100%);
}
#header .left-menu-btn:hover ~ .left-menu{
	transform: translateX(100%);
}
#header .left-menu-btn:hover ~ .left-menu-btn{
	clip-path: circle(40% at 50% 50%);
}
#left-menu-img1{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
#left-menu-img2{
	display: inline-block;
	width: calc(50% - 5px);
	margin-right: 5px;
}
#left-menu-img3{
	display: inline-block;
	width: calc(50% - 5px);
	margin-left: 5px;
}
#header .logo{
	position: relative;
	font-family: font2;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	margin: 5px;
}
#header .logo .logo-img{
	font-family: font2;
	height: 40px;
	transition-duration: 800ms;
	transition-property: clip-path;
	clip-path: circle(100%);
}
#header .logo .logo-img-b{
	position: absolute;
	height: 40px;
	left: 0;
	z-index: -1;
}
#header .logo:hover .logo-img{
	clip-path: circle(0%);
}
#header a{
	text-decoration-line: none;
}
.text-btn{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: #00fff7;
	transition-duration: 200ms;
	transition-property: color;
}
.text-btn:hover{
	color: #4400ff;
}
.text-btn .arr{
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	background-color: #00fff7;
	clip-path: polygon(0% 70%,50% 40%, 100% 70%, 100% 55%,
	50% 25%,0% 55%);
	transition-duration: 400ms;
}
.text-btn:hover .arr{
	background-color: #4400ff;
	clip-path: polygon(0% 30%,50% 60%, 100% 30%, 100% 45%,
	50% 75%,0% 45%); 
}
.text-btn .submenu{
	position: absolute;
	top: 100%;
	left: 0; 
	background-color: rgba(0, 0, 0, 0.9);
	min-width: 500px;
	min-height: 200px;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 400ms;
	transition-duration: transform;
}
.text-btn .submenu-btn{
	position: relative;
	padding: 10px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: #00fff7;
	transition-duration: 200ms;
	transition-property: color;
}
.text-btn .submenu-btn:hover{
	color:  #4400ff;
}
.text-btn:hover .submenu{
	transform: translateY(0) scaleY(1);
}
.box{
	position: relative;

}
.box-img{
	width: 100%;
	pointer-events: none;
}
.box .inner{
	text-align: center;
	font-size: 25px;
}
#box1 .inner{
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(-75%, -50%);
}
.btn-solid{
	text-decoration-line: none; 
}
.btn-solid .btn{
	font-family: font3;
	height: 25px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
	background-color: #4400ff;
	border: solid 3px #4400ff;
	border-radius: 4px; 
	font-size: 25px;
	line-height: 25px;
	color: #00fff7;
	transition-duration: 200ms;
	transition-property: padding margin;
}
.btn-solid .btn:hover{
	padding: 8px;
	margin: 2px;
}
#box1 .inner .logo{
	height: 100px;
}
a.btn-solid{
	text-decoration-line: none; 
}
.btn-trnsp .btn{
	font-family: font3;
	height: 25px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	border: solid 3px #00fff7;
	border-radius: 4px; 
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	color: #4400ff;
	transition-duration: 200ms;
	transition-property: padding margin;
}
.btn-trnsp .btn:hover{
	padding: 8px;
	margin: 2px;
}
.play{
	display: inline-block;
	height: 25px;
	width: 25px;
	background-color: #00c8ff;
	clip-path: polygon(20% 0%, 100% 50%, 20% 100%);
	transition-duration: 400ms;
	transition-property: clip-path;	
}
.btn:hover .play{
	clip-path: polygon(80% 0%, 0% 50%, 80% 100%);
}
#box2{
	min-height: 720px;
	background-image: linear-gradient(
		155deg,
		#4400ff 40%,
		#00fff7);
	background-size: 100%;
	text-align: center;
}
#box2 .main-textblock{
	font-family: font3;
	 font-size: 20px;
	 color: #00fff7;
}
#box2 .main-img{
	margin-top: 50px;
	height: 100px;
}
#box2 .line{
	height: 20px;
}
#box2 .textblock{
	font-family: font3;
	display: inline-block;
	margin: 40px;
	font-size: 20px;
	color: #00c8ff;
}
#box2 .textblock:nth-child(1),
#box2 .textblock:nth-child(2){
	font-family: font3;
}
#box2 .big{
	font-size: 30px;
}
#box2 .small{

}
#box3{
	overflow-x: hidden; 
}
#box3-ifrm{
	width: 1366px;
	height: 768px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#box4{
	padding: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 720px;
	background-image: linear-gradient(
		155deg,
		#00fff7 1%,
		#4400ff);
	background-size: 100%;
	text-align: center;
}
#box4 .inner{
	color: #4400ff;
	max-width: 450px;
	text-align: left;
	margin-left: uppercase;
	margin-bottom: 100px;
}
#box4 .inner .big{
	font-family: font1;
	font-size: 30px;
}
#box4 .inner .small{
	font-family: font3;
	font-size: 20px;
}
#box4 .cards{
	width: 100%
	max-width: 3000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#box4 .cards a{
	text-decoration-line: none;
}
#box4 .card{
	display: inline-block;
	width: calc(50% - 10px);
	opacity: 0.7;
	transition-duration: 400ms;
	transition-property: opacity;
}
#box4 .card:hover{
	opacity: 1;
}
#box4 .card .text{
	font-size: 30px;
	color: #00fff7;
	text-align: center;
	width: 100%;
}
#box4 .card img{
	width: 100%;
	display: block;
}
#box5{
	padding: 30px;
	text-align: center;
}
#box5 .text{
	font-family: font3;
	font-size: 20px;
	color: #00fff7;
}
#box5 iframe{
	width: 640px;
	height: 360px;
	margin: 30px;
}
.btn-solid .btn{
	font-family: font3;
	height: 25px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
	background-color: #4400ff;
	border: solid 3px #4400ff;
	border-radius: 4px; 
	font-size: 25px;
	line-height: 25px;
	color: #00fff7;
	transition-duration: 200ms;
	transition-property: padding, margin;
}
.btn-solid .btn:hover{
	padding: 8px;
	margin: 2px;
}
#box6{
	background-color: #00fff7;
	text-align: center;
}
#box6 .cards{
	
}
#box6 .cards .card{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	width: 360px;
	height: 720px;
	background-color: #4400ff;
	box-shadow: 0 0 10px #000;
	transition-duration: 500ms;
	transition-property: transform, box-shadow;
	transition-delay: 100ms;
	transition-timing-function: ease-out;
}
#box6 .cards .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 0 25px #000;
}
#box6 .card-img{
	width: 100%;
}
#box6 .text{
	text-align: center;
	color: #00fff7;
}
#box6 .date{
	font-family: font3;
	font-size: 15px;
	color: #00fff7;
}
#box6 .big{
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: font3;
	font-size: 50px;
	color: #00fff7;
	text-transform: uppercase;
}
#box6 .small{
	font-family: font3;
	font-size: 30px;
	color: #00fff7;
}
#box6 .cards .card1{
	
}
#box6 .cards .card2{
	
}
#box6 .cards .card3{
	
}
#footer{
	background-color: #111;
	padding: 50px;
	text-align: center;
	color: #00fff7;
}
#footer .text{
	font-size: 20px;
	margin: 10px;
}
#footer a{
	color: #aaa;
	text-decoration-line: none;
}
#footer a:hover{
	text-decoration-line: underline;
}